.gradle
.env
/build/
/logs/
!gradle/wrapper/gradle-wrapper.jar
out

### OS ##'
.DS_STORE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



## ci
/version.txt
/src/main/resources/public/version.txt




